html,body {
	margin: 0;
	scroll-behavior: smooth;
}

#buttonSection {
	z-index: 2;
	position:fixed;
	display: flex;

  flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 20vw;
  height: 60vh;
	top: 50%;

  border-radius: 1rem;
  background-color: rgba(50,50,50,1);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1), inset 0 0 1rem rgba(255, 255, 255, 0.3);

  transition: 0.3s ease;

  -webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

#buttonSection.hidden {
  -webkit-transform: translate3d(-100%,-50%, 0);
	transform: translate3d(-100%, -50%, 0);
}

button {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

  color:white;
	cursor: pointer;
	margin: 0 5vw;
	padding: 3vmin;
  width: 80%;
  height: 20%;
	outline:none;
	border:none;

  border-radius: 1rem;
	border-color: rgba(200,30,30, 1);
  border-style: solid;
  border-width: 5%;

  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.7), -0.1rem -0.1rem 0.4rem rgba(255, 255, 255, 0.3);

  background-color: rgba(50,50,50,1);
  transition: 0.3s ease;
}

button:active {
    box-shadow:  0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.7), -0.1rem -0.1rem 0.4rem rgba(255, 255, 255, 0.3), inset 0.1rem 0.1rem 1rem rgba(0, 0, 0, 1), inset -0.1rem -0.1rem 0.7rem rgba(255, 255, 255, 0.5);
		-webkit-transform: scale3d(0.99,0.99,0.99);
		transform: scale3d(0.99,0.99,0.99);
}

#disableShadows {
	border-color: rgba(0, 200, 30, 1);
}

#hideButtonSection {
  z-index: 3;
  color:white;
  position: fixed;
  border-radius: 100%;
  width: 5vh;
  height: 5vh;
  top: 50%;
  margin: 0;

  -webkit-transform: translate3d(calc(20vw - 50%), -50%, 0);
  transform: translate3d(calc(20vw - 50%), -50%, 0);
}

#hideButtonSection.hidden {
	border-color: rgba(0, 200, 30, 1);
  -webkit-transform: translate3d(0%,-50%, 0);
	transform: translate3d(0%, -50%, 0);
}

.tooltiptext {
  pointer-events: none;
  position: absolute;
  z-index: 5;

  width: auto;

  color: white;
  background-color: rgba(50,50,50,1);
  text-align: center;
  padding: 1rem;

  border-radius: 1rem;
	border-color: rgba(40,40,255, 1);
  border-style: solid;
  border-width: 5%;

  opacity: 0;
  transition: 0.4s;
  transform: translateZ(0);
}

button:hover .tooltiptext {
    opacity: 1;
}

button:active .tooltiptext {
    opacity: 0;
}

@media only screen and (max-width: 1081px) {
  #buttonSection {
  	width: 27vw;
  }

  #hideButtonSection {
    -webkit-transform: translate3d(calc(27vw - 50%), -50%, 0);
    transform: translate3d(calc(27vw - 50%), -50%, 0);
  }
}
